<footer><p>UI and website created by <a href="http://www.abdullahyahya.com">Abdullah Yahya</a></p>
    <p>Sources: <a href="http://lexicon.quranic-research.net/">http://lexicon.quranic-research.net/</a> & <a href="http://www.perseus.tufts.edu/hopper/opensource/download">Tufts Universit Perseus Digital Library</a></p>
    <p>Original lexicon content created by <a href="https://en.wikipedia.org/wiki/Arabic%E2%80%93English_Lexicon">Edward William Lane</a> (1801-1876)</p> 
  <p>Original lexicon published in 1874 and <a href="https://www.google.com/books/edition/Arabic_English_Lexicon/PqYjAQAAIAAJ?hl=en&gbpv=0&kptab=overview">digitized by Google</a> on December 17, 2009</p>

  </footer>