<a href="/content/01_A/000_A/"><span class="latin">A</span><span class="arabic">ا</span></a>		
<a href="/content/02_b/000_b/"><span class="latin">b</span><span class="arabic">ب</span></a>		
<a href="/content/03_t/000_t/"><span class="latin">t</span><span class="arabic">ت</span></a>		
<a href="/content/04_v/000_v/"><span class="latin">v</span><span class="arabic">ث</span></a>		
<a href="/content/05_j/000_j/"><span class="latin">j</span><span class="arabic">ج</span></a>		
<a href="/content/06_H/000_H/"><span class="latin">H</span><span class="arabic">ح</span></a>		
<a href="/content/07_x/000_x/"><span class="latin">x</span><span class="arabic">خ</span></a>		
<a href="/content/08_d/000_d/"><span class="latin">d</span><span class="arabic">د</span></a>		
<a href="/content/09_c/000_c/"><span class="latin">c</span><span class="arabic">ذ</span></a>		
<a href="/content/10_r/000_r/"><span class="latin">r</span><span class="arabic">ر</span></a>		
<a href="/content/11_z/000_z/"><span class="latin">z</span><span class="arabic">ز</span></a>		
<a href="/content/12_s/000_s/"><span class="latin">s</span><span class="arabic">س</span></a>		
<a href="/content/13_X/000_X/"><span class="latin">X</span><span class="arabic">ش</span></a>		
<a href="/content/14_S/000_S/"><span class="latin">S</span><span class="arabic">ص</span></a>		
<a href="/content/15_D/000_D/"><span class="latin">D</span><span class="arabic">ض</span></a>		
<a href="/content/16_T/000_T/"><span class="latin">T</span><span class="arabic">ط</span></a>		
<a href="/content/17_Z/000_Z/"><span class="latin">Z</span><span class="arabic">ظ</span></a>		
<a href="/content/18_E/000_E/"><span class="latin">E</span><span class="arabic">ع</span></a>		
<a href="/content/19_g/000_g/"><span class="latin">g</span><span class="arabic">غ</span></a>		
<a href="/content/20_f/000_f/"><span class="latin">f</span><span class="arabic">ف</span></a>		
<a href="/content/21_q/000_q/"><span class="latin">q</span><span class="arabic">ق</span></a>		
<a href="/content/22_k/000_k/"><span class="latin">k</span><span class="arabic">ك</span></a>		
<a href="/content/23_l/000_l/"><span class="latin">l</span><span class="arabic">ل</span></a>		
<a href="/content/24_m/000_m/"><span class="latin">m</span><span class="arabic">م</span></a>		
<a href="/content/25_n/000_n/"><span class="latin">n</span><span class="arabic">ن</span></a>		
<a href="/content/26_h/000_h/"><span class="latin">h</span><span class="arabic">ه</span></a>		
<a href="/content/27_w/000_w/"><span class="latin">w</span><span class="arabic">و</span></a>		
<a href="/content/28_e/000_e/"><span class="latin">e</span><span class="arabic">ى</span></a>		
